{% extends "base.html" %}
{% load static %} 
{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}

<!-- CAROUSEL SECTION -->
{% include "includes/banner_carousel.html" %}
<!-- END OF CAROUSEL SECTION -->

<!-- DELIVERY BANNER -->
{% include "includes/banner_delivery.html" %}
<!-- END OF DELIVERY BANNER -->

<!-- PRODUCTS SELECTED SECTION -->
{% include "includes/products_selected.html" %}
<!-- END OF PRODUCTS SELECTED SECTION -->

<!-- BANNER BOTTOM -->
{% include "includes/banner_bottom.html" %}
<!-- END OF BANNER BOTTOM -->

<!-- SERVICE REVIEW SECTION -->
{% include "includes/service_review.html" %}
<!-- END OF SERVICE REVIEW SECTION -->

<!-- BANNER TRUST COMPANY 1 -->
<div class="trust-company-box">
{% include "includes/banner_trust_company.html" %} 
</div>
<!-- END OF BANNER TRUST COMPANY 1 -->

{% endblock %}
