{% load static %}

{% block content %}
<!-- CUSTOMERS REVIEWS SECTION -->
<section id="customers-reviews">
    <hr>
    <h2 class="sub-title text-center">Customers Reviews</h2>
    <div class="container my-5">
        <div class="row">
            <div class="col-12 m-auto">
                <div class="owl-carousel owl-theme">
                  {% for review in service_reviews %}
                  <div class="card h-100 border-0">
                   <h3 class="text-center">{{ review.name }}</h3>
                   <i class="fas fa-quote-left text-center p-3 interactive-color"></i>
                   <p class="text-center">{{ review.service_review}}</p>
                   <span class="text-center">
                        {% if review.service_rating == 5 %}
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        {% elif review.service_rating == 4 %}
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star text-dark"></i>
                        {% else%}
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star text-dark"></i>
                        <i class="fas fa-star text-dark"></i>
                    {% endif %}
                    </span>
                  </div>
                  {% endfor %}
            </div>
          </div>
        </div>
    </div>
  </section>
  <!-- END OF CUSTOMERS REVIEWS SECTION -->
{% endblock content %}