{% load static %}

{% block corejs %}
<!-- MAIN JS -->
<script src="{% static 'js/main.js' %}"></script>
<!-- FONTAWSOME -->
<script src="https://kit.fontawesome.com/e9c73d7092.js"></script>
<!-- JQUERY -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js">
</script>
<!-- BOOTSTRAP JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<!-- STRIPE -->
<script src="https://js.stripe.com/v3/"></script>

<script>
    // Settimeout to dismiss the toast alert box
    $(function () {
        setTimeout(function () {
            if ($(".toast").is(":visible")) {
                $(".toast").fadeOut();
            }
        }, 4000);
    });
</script>
{% endblock %}

</body>
</html>