{% load static %}

{% block corejs %}
<!-- MAIN JS -->
<script src="{% static 'js/main.js' %}" defer> </script>
<!-- FONTAWSOME -->
<script src="https://kit.fontawesome.com/e9c73d7092.js" defer> </script>
<!-- JQUERY -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"> </script>
<!-- BOOTSTRAP JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"> </script>
<!-- STRIPE -->
<script src="https://js.stripe.com/v3/"></script>
<script defer>
// Show alert toasts on the top
$('.toast').toast('show');

// Settimeout to dismiss the toast alert box
$(function () {
    setTimeout(function () {
        if ($(".toast").is(":visible")) {
                $(".toast").fadeOut();
            }
    }, 4000);
});

// Meta pixel
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '500695501583616');
fbq('track', 'PageView');
fbq('track', 'Lead');
</script>
<noscript>
    <img height="1" 
         width="1" 
         style="display:none" 
         alt="Meta Pixel Image" 
         src="https://www.facebook.com/tr?id=500695501583616&ev=PageView&noscript=1">
</noscript>
{% endblock %}
